/*********** 共通設定 ***********/
body {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .05em;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

li {
    list-style-type: none;
}

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
